<div *ngIf="estadoTipoContrato; else elseBlock">
  <div class="grid grid-cols-1 h-[500px]">
    <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px] shadow-md">
      <h2 class="titulo-naranja">MODAL</h2>
      <hr class="bg-naranja h-1" />
      <h1 class="text-3xl text-gray-500 font-bold text-center py-20">
        Revisaremos la información registrada y le enviaremos el Contrato
        finalizado en un plazo de 2 días hábiles
      </h1>
      <div class="flex justify-end mt-20">
        <a routerLink="/admin/contratacion/contrato/consulta-contrato"
          ><button class="boton-azul">Cerrar</button></a
        >
      </div>
    </div>
  </div>
</div>

<!-- Bloque 'else' -->
<ng-template #elseBlock>
  <br />
  <br />
  <br />
  <iframe
    [src]="safePdfUrl"
    class="w-full h-[1000px] mt-30 border-none"
  ></iframe>

  <div class="flex justify-end mt-20">
    <a routerLink="/admin/contratacion/contrato/proceso_11"
      ><button class="boton-azul">Atras</button></a
    >
  </div>
</ng-template>
